@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Regular.woff2"), url("./fonts/Roboto-Regular.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ocean-grid{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
  gap: 2px;
}

.water{
  height: 2em;
  width: 2em;
  background-color: azure;
}

.water.ship{
  background-color: chartreuse;
}


